{%- assign schema_site_url = '/' | absolute_url -%}
{%- if site.url == "https://temp.objectivelaw.org" -%}
  {%- assign schema_site_url = "https://objectivelaw.org/" -%}
{%- endif -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "@id": {{ schema_site_url | append: "#organization" | jsonify }},
      "name": {{ site.social.name | default: site.title | jsonify }},
      "url": {{ schema_site_url | jsonify }}{% if site.logo %},
      "logo": {
        "@type": "ImageObject",
        "url": {{ site.logo | absolute_url | jsonify }}
      }{% endif %}{% if site.social.links and site.social.links.size > 0 %},
      "sameAs": {{ site.social.links | jsonify }}{% endif %}
    },
    {
      "@type": "WebSite",
      "@id": {{ schema_site_url | append: "#website" | jsonify }},
      "name": {{ site.title | jsonify }},
      "url": {{ canonical_url | jsonify }},
      "publisher": {
        "@id": {{ schema_site_url | append: "#organization" | jsonify }}
      }{% if site.locale %},
      "inLanguage": {{ site.locale | jsonify }}{% endif %}
    }
  ]
}
</script>
